<div class="container">
<div class="bg_pattern ZigZag top-messages">

<%= render "shared/header" %>


 <%= link_to 'カレンダーに保存', new_user_diary_path(current_user.id), class: " btn btn-border-shadow" %>
 

  <div class="calendar-page col-md-10">
    <div class="bg-white mt-3">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>
        <% events.each do |event|%>
          <div>
            <%=link_to "⭐️", diaries_result_path%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
</div>

</div>
</div>

