<div class="container">
<div class="bg_pattern ZigZag top-messages">

  <%= render "shared/header" %>

  <div class="text-center">
   <%= link_to '頑張ったことを追加', new_user_diary_path(current_user.id), class: " btn btn-border-shadow" %>
   <%= link_to '褒められる',  root_path, class: " btn btn-border-shadow" %>
  </div>

  <div class="calendar-page col-md-10">
    <div class="bg-white mt-3">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>
        <% events.each do |event|%>
          <div>
            <%=link_to "⭐️", diaries_result_path%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
</div>

