<div class="container">
<div class="bg_pattern ZigZag top-messages">

  <header class="header">
    <div class="inner left">
      <div class="nav">
        <div class="nav_left">
          <h1 class="left_nav">HOMETAI</h1>
        </div>
        <ul>
        <div class="nav_right">
            <%#= link_to 'マイページ', "#", class: "mypage" %>
            <li class="nav_btn"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        </div>
        </ul>
      </div>
    </div>
  </header>


  <div class="calendar-page col-md-10">

        <div class="bg-white">

          <div class="form-title mt-3">
            <h3 class="diary-title">Diary</h3>
          </div>

          <div class=" justify-content-center mt-4 pt-3 form-inline">
            <div class="col-md-10 mr-3">
              <%= form_with model: @diary, url: user_diaries_path(current_user.id),local: true do |f|%>
<%= render 'shared/error_messages', model: f.object %>
              

              <div class="set">
                   <p class="my-3">日付</p>
                   <%= f.date_field :day, class:"form-control", class:"form-control", id:"day"%>
                </div>
              <div class="form-group form-inline">

                <div class="set">
                  <span class="my-3">頑張ったこと</span>
                  <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control", id:"user-category"}) %>
                </div>

                <div class="set">
                   <span class="my-3 ml-3">今の気分</span>
                   <%= f.collection_select(:feeling_id, Feeling.all, :id, :name, {}, {class:"form-control", id:"user-feel"}) %>
                </div>
              </div>

                <div class="set">
                   <p class="my-3">一言メモ</p>
                   <%= f.text_field :comment, class:"form-control", size:"50"%>
                </div>

                <%= f.submit "保存", class:"btn btn-border-shadownav_btn", name:"保存" %>            
               <% end %>

            </div>
          </div>
    <div class="bg-white mt-3">
      <%= month_calendar events: @events do |date, events| %>
        <%= date.day %>
        <% events.each do |event|%>
          <div>
            <%=link_to "⭐️", diaries_result_path%>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
</div>

</div>
</div>
